nav {
  width: 100%; 
  background-color: #000000; 
  overflow: auto;
}

nav a {
  float: left;
  text-align: center; 
  padding: 20px 0; 
  width: 20%;
  transition: all 0.3s ease; 
  color: white; 
  font-size: 36px; 
}

nav a:hover {
  background-color: rgb(51, 255, 0);
}

body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Rubik';
  }